<div class="sidebar-cms-custom">
  <div class="widget-title">
      <h3><span>{{ settings.custom_cms_title }}</span></h3>
  </div>
  <div class="widget-content">
    {{ settings.custom_cms_text }}
  </div>
</div>